.grid-container {
  width: 90%;
  margin: auto;
}

@media(min-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-column-gap: 50px;
  }
}